*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    margin: 0;
}

:root {
    --aspect-ratio: 0.56vw;
}

.main-container {
    width: 100%;
    height: 100vh;
    padding: 0;
    /* background:  linear-gradient(90deg, #00002e 0%, #0a0222 100%) 0% 0% no-repeat padding-box; */
    background-image: url('images/bg-full.png');
}

.main-container .wrapper {
    width: 100%;
    height: 100%;
}

.main-table {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.main-table .header {
    width: 100%;
    height: calc(40*var(--aspect-ratio));
    background: linear-gradient(180deg, #120f1d 0%, #34353A 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
}

.header .first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4%;
    width: 50%;
    padding: 0 4% 0 0;
}

.first img {
    width: calc(32*var(--aspect-ratio));
    height: calc(32*var(--aspect-ratio));
    border: calc(1*var(--aspect-ratio)) solid #CA424E;
    border-radius: 50%;
}

.first .btn {
    display: flex;
    flex-direction: column;
    gap: calc(4*var(--aspect-ratio));
}

.first .btn span {
    font-family: "roboto" ,sans-serif;
    font-size: calc(6*var(--aspect-ratio));
    font-weight: 500;
    color: #fff;
}

.first .btn .r-btn {
    box-shadow: inset 0px 5px 10px #000000B8;
    border: calc(1*var(--aspect-ratio)) solid #FF4252;
    border-radius: calc(10*var(--aspect-ratio));
    background: transparent;
    font-family: "roboto" , sans-serif;
    color: #F6D75B;
    font-size: calc(5*var(--aspect-ratio));
    font-weight: 600;
    width: calc(30*var(--aspect-ratio));
    height: calc(12*var(--aspect-ratio));
}

.header .second {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.second .p-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: calc(1*var(--aspect-ratio)) solid #FF4252;
    border-radius: calc(10*var(--aspect-ratio));
    opacity: 1;
    background: transparent;
    width: calc(40*var(--aspect-ratio));
    height: calc(15*var(--aspect-ratio));
    padding: 0 5%;
}

.second .p-btn img {
    width: calc(10*var(--aspect-ratio));
    height: calc(10*var(--aspect-ratio));
}

.second .p-btn span {
    color: #F6D75B;
    font-family: "roboto" , sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.button-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    padding: 3% 2%;
    gap: 2%;
    height: calc(50*var(--aspect-ratio));
}

.button-section .first-section {
    width: 15%;
    height: 100%;
}

.button-section .register-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
    border: none;
    border-radius: calc(2*var(--aspect-ratio));
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(180deg, #002a9e 30%, #00005f 46%, #0000a3 100%) 0% 0% no-repeat padding-box;
}

.register-btn span {
    font-family: "roboto" ,sans-serif;
    font-size: calc(4*var(--aspect-ratio));
    font-family: 500;
    color: #fff;
}

.register-btn img {
    width: calc(15*var(--aspect-ratio));
    height: calc(15*var(--aspect-ratio));
}

.button-section .second-section {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(4*var(--aspect-ratio));
}

.button-section .second-section .f-r-btn {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.button-section .second-section .s-r-btn {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.b-btn {
    background: transparent linear-gradient(0deg, #171733 0%, #3A393D 100%);
    border-radius: calc(2*var(--aspect-ratio));
    border: none;
    font-family: "Noto Sans" ,sans-serif;
    color: #fff;
    font-size: calc(5*var(--aspect-ratio));
    font-weight: 500;
    cursor: pointer;
    height: 90%;
}

.btn1 , .btn5 {
    width: 30%;
    /* height: 90%; */
}

.btn2 , .btn6 {
    width: 30%;
}

.btn3 , .btn7 {
    width: 15%;
}

.btn4 , .btn8 {
    width: 25%;
}

.box-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: calc(6*var(--aspect-ratio));
    width: 100%;
}

.tournament-section.active {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
}

.tournament-section {
    display: none;
}

.box-section .first-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: calc(35*var(--aspect-ratio));
    padding: 0 4%;
}

 .f-rec {
    width: 25%;
    height: 100%;
    background: #3D3845;
    border: 2px solid #959696;
    cursor: pointer;
    transform: skew(10deg);
}

.f-rec:focus-within {
    background: linear-gradient(180deg, #E4434F 0%, #2C181C 100%) !important;
    border: 2px solid #CA424E;
}

.first-box .f-rec .f-r-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(2*var(--aspect-ratio));
    width: 100%;
    padding: 2% 4%;
    margin: 0;
}

.f-r-detail .f-r-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 30%;
}

.f-r-detail .f-r-list img {
    width: calc(7*var(--aspect-ratio));
    height: calc(7*var(--aspect-ratio));
}

.f-r-detail .f-r-list span {
    font-family: "Roboto" ,sans-serif;
    color: #fff;
    font-size: calc(6.5*var(--aspect-ratio));
    font-weight: 500;
}

.s-rec {
    width: 75%;
    height: 100%;
    background: #3D3845;
    border: 2px solid #959696;
    cursor: pointer;
    transform: skewX(10deg);
    display: flex;
    flex-direction: column;
    gap: calc(3*var(--aspect-ratio));
}

.highlight {
    background: linear-gradient(180deg, #E4434F 0%, #2C181C 100%) !important;
    border: 2px solid #CA424E;
}

.first-box .s-rec .f-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40%;
    padding: 0 4%;
}

.first-box .s-rec .f-top .f-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f-text .f-t {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.f-text .f-t span {
    color: #ffffff;
    font-family: "Noto Sans" ,sans-serif;
    font-weight: 500;
    font-size: calc(5*var(--aspect-ratio));   
    transform: skew(-10deg);
}

.f-text .s-t {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}

.f-text .s-t img {
    width: calc(6*var(--aspect-ratio));
    height: calc(7*var(--aspect-ratio));
}

.f-text .s-t span {
    color: #fff;
    font-family: "Roboto" ,sans-serif;
    font-size: calc(7*var(--aspect-ratio));
    font-weight: 500;
}

.s-rec hr {
    width: 100%;
    margin: 0;
}

.s-rec .s-btm {
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
    justify-content: space-between;
    padding: 0 4%;
    align-items: center;
}

.s-btm .f-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(1*var(--aspect-ratio));
}

.s-btm .f-b h4 {
    color: #fff;
    font-family: "Roboto" ,sans-serif;
    font-size: calc(6*var(--aspect-ratio));
    font-weight: 500;
    margin: 0 !important;
}

.s-btm .f-b span {
    color: #FFCB00;
    font-family: "Roboto" ,sans-serif;
    font-size: 10px;
    font-weight: 500;
}

.s-btm .s-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.s-btm .s-b h4 {
    color: #FFCB00;
    font-family: "Roboto" ,sans-serif;
    font-size: calc(4*var(--aspect-ratio));
    font-weight: 500;
    margin: 0 !important;
}

.s-btm .s-b span {
    color: #fff;
    font-family: "Roboto" ,sans-serif;
    font-size: calc(7*var(--aspect-ratio));
    font-weight: 500;
}

.s-btm .t-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.s-btm .t-b h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.s-btm .t-b h4 span{
    color: #FFCB00;
    font-family: "Roboto" ,sans-serif;
    font-size: calc(4*var(--aspect-ratio));
    font-weight: 500;
    margin: 0 !important;
}

.s-btm .t-b h4 img {
    width: calc(5*var(--aspect-ratio));
    height:  calc(5*var(--aspect-ratio));
}

.s-btm .t-b span {
    color: #fff;
    font-family: "Roboto" ,sans-serif;
    font-size: calc(7*var(--aspect-ratio));
    font-weight: 500;
}

.s-btm .fo-b {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-btm .fo-b h4 {
    color: #FFCB00;
    font-family: "Roboto" ,sans-serif;
    font-size: calc(4*var(--aspect-ratio));
    font-weight: 500;
    margin: 0 !important;
}

.s-btm .fo-b span {
    color: #fff;
    font-family: "Roboto" ,sans-serif;
    font-size: calc(7*var(--aspect-ratio));
    font-weight: 500;
}





/* cash-game */

.box-section-game {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: calc(6*var(--aspect-ratio));
    width: 100%;
    margin-top: 5%;
}

.cash-game-section.active{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
}

.cash-game-section {
    display: none;
}

.box-section-game .sec-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: calc(35*var(--aspect-ratio));
    padding: 0 4%;
}

.sec-box .f-rec .f-r-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
    margin: 0;
    transform: skew(-10deg);
}

.sec-box .f-rec .f-r-detail img {
    width: calc(15*var(--aspect-ratio));
    height: calc(15*var(--aspect-ratio));
}

.sec-box .f-rec .f-r-detail p {
    font-family: "Roboto" ,sans-serif;
    font-size: calc(7*var(--aspect-ratio));
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 0;
    margin-top: 4% !important;
}


.sec-box .s-rec .f-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40%;
    padding: 0 4%;
}

.sec-box .s-rec .f-top .f-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.fourth-box .s-rec .f-top .f-text {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    top: 5px;
}

.fourth-box .s-rec hr {
    width: 100%;
}


.btn-t {
    width: 100%;
    height: calc(50*var(--aspect-ratio));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    gap: calc(5*var(--aspect-ratio));
    padding: 0 5%;
}

.btn-t .play-btn {
    width: 50%;
    height: calc(20*var(--aspect-ratio));
    border: 2px solid #FF4252;
    background: transparent linear-gradient(0deg, #2C181C 0%, #E4434F 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    color: #fff;
    font-size: calc(10*var(--aspect-ratio));
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.btn-t .reg-btn {
    width: 50%;
    height: calc(20*var(--aspect-ratio));
    border: 2px solid #FF4252;
    background: transparent;
    border-radius: 8px;
    color: #fff;
    font-size: calc(10*var(--aspect-ratio));
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}


.btn-g  {
    width: 100%;
    height: calc(50*var(--aspect-ratio));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.pla-btn {
    width: 50%;
    height: calc(20*var(--aspect-ratio));
    border: 2px solid #FF4252;
    background: transparent linear-gradient(0deg, #2C181C 0%, #E4434F 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    color: #fff;
    font-size: calc(10*var(--aspect-ratio));
    letter-spacing: 2px;
    font-weight: 600;
}

